 
<!-- <span ng-bind="editCtrl.title"></span> -->
<!--  <div data-ng-controller="help">
  <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
  <div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Sending&hellip;</div>
  <form name="helpForm" novalidate role="form">
    <div class="form-group">
      <label for="name">Enter Service name</label>
      <span class="label label-danger" data-ng-show="submitted && helpForm.name.$error.required">*</span>
      <input type="text" name="name" data-ng-model="name" class="form-control" required />
    </div>

    <button data-ng-disabled="progress.active()" data-ng-click="submit(helpForm)" class="btn btn-default">Submit</button>
  </form>
 </div>
</div> -->
<style type="text/css">
	#table1 {
		counter-reset: rowNumber;
	}

	#table1 tbody tr {
		counter-increment: rowNumber;
	}

	#table1 tr td:first-child::before {
		content: counter(rowNumber); 
	}

</style>
<div>
	<h2> Service Management tool</h2>
	<h3> Enter names of services for Resource Based Financing (RBF) </h3>


	<table id="table1" class="table table-striped">
	
		<thead>
			<tr>
				<th>Number</th>
				<th>Service Name</th>
				<th>ShortName</th>
				<th>Code</th>
				<th>Type</th>
				<th>Aggregation Operator</th>
			</tr>
			</thead>
		<tbody>
			<tr ng-repeat="service in editCtrl.getServices()"> 
				 	<td> </td>
					<td><input type="text" placeholder="Service name" ng-model="service.name"> </td>
					<td> <input type="text" placeholder="ShortName" ng-model="service.shortName"> </td>
					<td><input type="text" placeholder="Code" ng-model="service.code">  </td>
					<td><select type="text" ng-model="service.type"> 
						<option value="int">int</option> <option value="string">string</option></select> 
					</td>
					<td><select type="text" ng-model="service.aggregationOperator"> 
						<option value="sum">sum</option> </select> 
					</td> 
					<td>
					<button class="btn btn-primary" type="button" title="click here to enter more service names" ng-if="$last" ng-click="editCtrl.add()"> + </button> 
				 	</td>
				</tr>
				</table>
		<button ng-click="editCtrl.save()" class="btn btn-primary"> Save to click</button>
		<toast></toast>
	</div>

